@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

:root {
    --black: #1f1c1c;
    --offwhite: #FDFDFD;
    --lightblue: #858E9F;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}




/* You start your css below */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

.login_sektion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.img_overskrift{
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    font-size: 5rem;
    letter-spacing: 3px;
}


.billed_sektion {
    background-image: url(../img/forside.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hovedindhold {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lejeoplysninger {
    border: solid 2px #858E9F;
    color: #1f1c1c;
    width: 500px;
    padding: 25px;
}

.udstyrssektion {
    max-width: 700px;
    background-color: #1f1c1c;
    color: #FDFDFD;
    padding: 20px;
    
}

.formular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    display: block;
    text-align: left;
    margin: 10px 5px 0 0;
}

.checkboks {
    margin-top: 10px;
}

.flexsektion {
    width: 275px;
    margin: 25px;
}

.formfelt {
    background-color: #FDFDFD;
    padding: 5px;
}

.overskrift {
    text-align: center;
}

.videreknap {
    background-color: #858E9F;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 15px;
    letter-spacing: 3px;
}

.totaldkk {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.totalindhold {
    padding: 10px;
    border: 1px solid #858E9F;
}

.formfelt {
    width: 275px
}

#postnr {
    width: 100px;
}